.banner__subtitle {
	font-size: 36px;
	font-family:  SourceHanSansCN-Medium,PingFang SC Regular;
	font-weight: 500;
	/* 以上设计图 */
	/* margin-bottom: 20px; */
	color: #fff;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: left;
}

.banner__bar {
	width: 103px;
	height: 6px;
	background-color: #fff;
	/* 以上设计图 */
	margin: 0 auto;
	position: absolute;
	top: 0;
}

.banner__subtitle-container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 410px;
	font-size: 36px;
	font-family:  SourceHanSansCN-Medium,PingFang SC Regular;
	font-weight: 500;
	/* 以上设计图 */
	/* margin-bottom: 20px; */
	color: #fff;
	position: absolute;
	top: 50%;
	/* width: 100%; */
	/* text-align: left;  */
}

@media only screen and (max-width: 991px) {
    .banner__subtitle {
		text-align: center;
	}

	.banner__subtitle-container {
		/* text-align: center; */
		padding-left: 175px;
	}
}
