@import 'antd/dist/antd.css';

.login-form {
  display: block;
  margin: auto;
}

.register-form {
  display: block;
  margin: auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  float: none;
}

label {
  margin: 20px 20px 0 0;
}

.ant-col-sm-16 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:30%;
}
