.title-container { 
	/* 以上设计图 */
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 120px;
}

.flex-container {
	/* 响应式 */
	max-width: 1200px;
	/* height: 1150px; */
	margin: 0 auto; 
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	align-content: space-between;
}

.flex-item { 
	margin-bottom: 200px;
	margin-right: 80px;
}

.name {
	margin-top: 45px;
	color: white;
	font-size: 16px;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
		flex-wrap: no-wrap;
		justify-content: flex-start;
		align-content: stretch;
	} 

	.flex-item {
		margin: 40px auto;
	}

	.name {
		margin-top: 25px;
	}

	.title-container {
		padding-left: 160px;
	} 
}
