.container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
	padding: 0 20px;
	padding-bottom: 255px; 
}

.about-big-title {
	color: #fff;
	font-size: 50px;
	font-family:  SourceHanSansCN-Bold,PingFang SC Regular;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
	padding-top: 250px;
	/* padding-bottom: 50px; */
}
.about-small-title {
	font-size: 28px;
	font-family:  SourceHanSansCN-Bold,PingFang SC Regular;
	font-weight: bold;
	/* 以上设计图 */
	margin-left: 20px;
}

.about-paragraph {
	color: white;
	font-size: 16px;
	font-family:  SourceHanSansCN-Regular,PingFang SC Regular;
	/* 以上设计图 */
	margin: 0;
	margin-top: 10px;
}


@media only screen and (max-width: 991px) {
	/* .container {
		padding-bottom: 260px;
	} */
}
