.root {
	padding: 80px 0;
}

.news-container {
	/* 响应式 */
	max-width: 1200px;

	margin: 0 auto !important;
	text-align: left;
}

.news-item {
	/* 为了正常换行不得已写死高度 */
	height: 500px;
}
.link {
	display: block;
	margin: 0 auto !important;
}
.news-item * {
	max-width: 320px;
}
.news-item p {
	margin: 0;
	word-wrap: break-word;
}

.news__thumbnail {
	/* max-width: 380px; */
	width: 100%;
	height: 280px;
}
.news__title {
	color: #333;
	font-size: 16px;
	font-family:  SourceHanSansCN-Bold,PingFang SC Regular;
	font-weight: bold;
	/* 以上设计图 */
	line-height: 40px;
	margin: 0;
}
.news__date {
	color: #999;
	font-size: 16px;
	font-family: SourceHanSansCN-Normal;
	/* 以上设计图 */
	padding-bottom: 10px;
}
.news__hr {
	border-bottom: 1px solid #cfcfcf;
}
.news__summary {
	color: #666;
	font-size: 14px;
	font-family: SourceHanSansCN-Normal;
	/* 以上设计图 */
	padding-top: 15px;
	/* CSS多行文本溢出省略显示 */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@media only screen and (max-width: 991px) {
	.news-item * {
		max-width: 280px;
	}
	.news__thumbnail {
		height: 180px;
	}
}
