.empowerment-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 200px;
}

.main-container {
	background-color: #fff;
	width: 100%;
	max-width: 1200px;
}

.title-container {
	margin-top: 40px;
	padding-right: 35px;
}

.empowerment-parts {
	/* margin: 90px; */
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	width: 100%;
}

.part-icon {
	transition: transform 0.2s ease-in-out;
}

.part-icon:hover {
	transform: scale(1.1);
}

.part-name {
	color: #535353;
	font-size: 16px;
	font-family: SourceHanSansCN-Regular,PingFang SC Regular;
	/* 以上设计图 */
	margin-top: 50px;
}

@media only screen and (max-width: 991px) {
	.empowerment-parts {
		flex-direction: column;
		margin-bottom: 75px;
	}
	.empowerment-container {
		padding: 0;
	}
	.empowerment-title {
		margin-top: 0;
	}
	.part-name {
		margin-top: 20px;
	}
}
