.TA-container {
	padding-bottom: 95px;
}

.TA-title-container {
	padding-top: 100px;
	margin-left: 40px;
}

.flex-container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	/* display: flex;
	justify-content: space-between; */
}

.row-container {

	display: flex;
	padding: 29.5px 20px;
	/* margin-bottom: 20px; */
}

.feature-icon {
	transition: transform 0.2s ease-in-out;
	width: 58px;
	height: 58px;
}

.feature-icon:hover {
	transform: scale(1.1);
}

.features {
	/* border-top: 1px solid #9f9f9f; */
	/* padding-top: 30px;
	margin-top: 50px;   */
	flex: 1;
	text-align: left;
	margin-left: 60px;
	padding-top: 5px;
}

.feature {
	font-size: 16px;
	font-family: SourceHanSansCN-Light,PingFang SC Regular;
	color: white;
	line-height: 16px;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
	}
	.features {
		border-top: 0;
		margin-top: 10px;
		padding-top: 0;
		padding-bottom: 30px;
	}
	.TA-container {
		padding-bottom: 50px;
	}

	.row-container {
		padding: 40px 40px;
	}
}
