.root {
	padding-bottom: 100px;
}

.title {
	color: #333;
	font-size: 36px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	padding-top: 100px;
	margin-top: 0;
	margin-bottom: 100px;
}

.main-container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

.competitiveness-icon {
	transition: transform 0.2s ease-in-out;
	width: 242px;
	height: 209px;
	margin: 20px auto;
}

.competitiveness-icon:hover {
	transform: scale(1.1);
}

.slogan {
	color: #666;
	font-size: 26px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin-top: 117px;
	border-top: 1px solid #9f9f9f;
	padding-top: 48px;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
	}
}
