.title-container {
    margin-top: 40px;
	padding-right: 0px;
	padding-top: 100px;
}

.detector-container {
	max-width: 1200px;
	margin: 50px auto;
}

.detector-item {
    display: flex;
	justify-content: space-between; 
	width: 100%; 
} 

.detector-icon {
	transition: transform 0.2s ease-in-out;
}

.detector-icon:hover {
	transform: scale(1.1);
}

.detector-name {
	color: black;
	font-size: 16px;
	font-family:  SourceHanSansCN-Regular,PingFang SC Regular;
	/* 以上设计图 */ 
}

@media only screen and (max-width: 991px) {
	.detector-item {
		flex-direction: column;
	}
	.detector-container {
		padding: 0;
	} 
	.detector-name {
		margin-top: 20px;
	}

	.title-container {
		margin-right: 50px;
		padding-top: 50px;
	}
}