.root {
	/* height: 964px; */
	padding-bottom: 110px;
}

.title-container {
	padding-top: 105px;
}

.title {
	color: #333;
	font-size: 36px;
	font-family:  SourceHanSansCN-Bold,PingFang SC Regular;
	font-weight: bold;
	/* 以上设计图 */
	margin-top: 0;
	margin-bottom: 120px;
	padding-top: 100px;
}

.flex-container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-item {
	width: 510px;
	height: 122px;
	/* background-color: #fff; */
	display: flex;
	align-items: center;
	/* margin-left: 20px; */
}

/* .item-img {
	margin-left: 65px;
} */

.item-text {
	color:white;
	font-size: 16px;
	font-family:  SourceHanSansCN-Medium,PingFang SC Regular;
	font-weight: Bold;
	/* 以上设计图 */
	margin-left: 60px;
	text-align: left;
	margin-bottom: 10px;
}

.item-sub-text {
	color: #D7DADC;
	font-size: 14px;
	font-family:  SourceHanSansCN-Light,PingFang SC Regular;
	margin-left: 60px;
	text-align: left;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
	}

	.title-container {
		margin-left: 25px;
	}

	.adjacent-img {
		order: -1;
	}
	.img {
		width: 80%;
		text-align: center;
		padding-bottom: 50px;
	}
	.list-item {
		width: 100%;
		margin-top: 30px;
		margin-left: 0;
	}
	.item-img {
		margin-left: 20px;
	}
	.list-item {
		padding-right: 20px;
	}
}
