.flex-container {
	max-width: 1200px;
	/* height: 650px; */
	margin: 150px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.schematic-container {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
}

.schematic-img {
    margin: auto;
    width: 100%;
	height: auto;
}

.summary-container {
	width: 40%;
	align-items: center;
}

.summary {
	text-align: right;
	font-family: SourceHanSansCN-Regular,PingFang SC Regular;
	font-size: 14px;
	color: black;
    margin-left: 55px;
    line-height: 30px;
}


.features-item-container {
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-end;
}

.features-item {
    margin-left: 80px;
}

.title-container {
margin-top: 0px;
}

.features-icon {
    width: 55px;
    height: 55px;
}

.features-name {
    color: #666666;
    font-size: 14px;
    font-family: SourceHanSansCN-Regular,PingFang SC Regular;
    margin-top: 16px;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
	}

	.summary-container {
		margin-top: 50px;
		width: 80%;
	}

	.summary {
		text-align: center;
		margin: 0 auto;
	}

	.schematic-container {
		width: 60%;
	}

	.features-item-container {
		justify-content: space-between;
		margin: 0 0;
	}

	.features-item {
		margin: 0 auto;
	}

	.title-container {
		margin-right: 40px;
	}
}