.root {
	height: 1080px;
	/* background-color: #eff1f5;
	padding-bottom: 100px; */
}


.flex-container {
	/* 响应式 */
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-item {
	width: 510px;
	height: 122px;
	/* background-color: #fff; */
	display: flex;
	align-items: center;
	/* margin-left: 20px; */
}

/* .item-img {
	margin-left: 65px;
} */

.item-text {
	color:white;
	font-size: 16px;
	font-family: SourceHanSansCN-Blod,PingFang SC Regular;
	font-weight: Bold;
	/* 以上设计图 */
	margin-left: 60px;
	text-align: left;
	margin-bottom: 10px;
}

.item-sub-text {
	color: #D7DADC;
	font-size: 14px;
	font-family:  SourceHanSansCN-Light,PingFang SC Regular;
	margin-left: 60px;
	text-align: left;
}

@media only screen and (max-width: 991px) {

	.list-container {
		margin: 0 auto;
	}

	.list-item {
		width: 80%;
		height: 150px;
		margin: 0 auto;
	}
}