.feature-container {
	height: 600px;
}

.flex-container {
	height: 100%;
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.align-left {
	text-align: left;
	order: -1;
}

.align-right {
	text-align: right;
	order: 1;
}

.text__title {
	font-size: 36px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
}

.text__bar {
	max-width: 576px;
	height: 1px;
	/* 以上设计图 */
	margin-top: 60px;
	margin-bottom: 20px;
}

.text__paragraph {
	font-size: 26px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
	padding-top: 20px;
}

.feature-img {
	transition: transform 0.2s ease-in-out;
}

.feature-img:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 991px) {
	.feature-container {
		height: 750px;
	}
	.flex-container {
		flex-direction: column;
		justify-content: space-around;
		padding: 0 20px;
	}
	.align-left {
		order: 1;
	}
	.feature-img {
		max-width: 280px;
	}
}
