.footer-background {
	background-color: #1B1C1F;
	color: #a8a8a8;    
}
.footer-main a {
	color: #a8a8a8;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
}

.address {
	font-style: normal;
}

.row-container {
	font-family: SourceHanSansCN-Normal,PingFang SC Light; 
	text-align: left;
	padding-top: 50px;
	padding-bottom: 20px;
}

@media only screen and (max-width: 991px) {
	.row-container {
		text-align: center;
	}
	.flex-item {
		display: block;
	}
	.qrcode {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.flex-item {
		display: flex;
	}
}

.info {
	margin: 10px 0;
}
.link {
	color: #a8a8a8;
}
.hotline {
	font-size: 18px;
}

.qrcode {
	width: 100px;
	height: 100px;
	background-color: #fff;
	margin-left: 40px;
}
.qrcode-img {
	width: 100%;
	height: 100%;
}

.copyright {
	margin: 0 auto;
	border-top: 1px solid #535353;
	font-family:  SourceHanSansCN-Light,PingFang SC Regular;
	padding: 40px 0;
	font-size: 12px;
}

.a {
	color: #a8a8a8;
}
