.nav-item__item {
	color: #4e5357;
}
   

@media only screen and (min-width: 991px) {
	.nav-item__container {
		/* 无奈的解决方案 */
		display: inline-block;
		float: left;
		width: 150px;  
		height: 100%;
	}
	.nav-item__container:hover > .nav-item__item {
		background: rgba(67, 52, 234, 1);
		color: #fff;
	}

	.nav-item__item {
		font-size: 15px;
		font-family:  SourceHanSansCN-Regular,PingFang SC Regular;
		font-weight: Bold;
		color:white;
		/* 以上设计图 */
		display: block;
		position: relative;
		/* 上下 padding 是魔数 */
		padding: 21.5px 0px;
	}

	.nav-item__item-hover { 
		color:black; 
		font-size: 14px;
		font-family:  SourceHanSansCN-Regular,PingFang SC Regular; 
		font-weight: Bold;
		/* 以上设计图 */
		display: block;
		position: relative;
		/* 上下 padding 是魔数 */
		padding: 21.5px 0px;
	}

	.nav-item__submenu {
		background-color: white;
	}

	.submenu__item {
		display: inline;
	}
	.submenu__item:hover > a {
		background:#E6E6E6;
	}
	.submenu__item > a {
		color: #3C3C3C !important;
		display: block;
		padding: 13px 0;
		margin-bottom: 5px;
		font-size: 14px;
		font-family:  SourceHanSansCN-Light,PingFang SC Regular;
	}
}
