.drawer-container {
	position: absolute;
	top: 60%;
	width: 100%;
	text-align: center;
}

.video-button {
	width: 203px;
	height: 68px;
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 10px 0px rgba(45, 4, 36, 0.35);
	border-radius: 4px;

	font-size: 24px;
	font-family:  SourceHanSansCN-Medium,PingFang SC Regular;
	font-weight: 500;
	/* 以上设计图 */
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: all 0.2s ease-in-out;
	color: #fff;
}
.video-button:hover {
	/* background-color: rgba(67, 52, 234, 1); */
	transform: scale(1.1);
}
.video-button > * {
	margin: 0 5px;
}

.video-container {
	width: auto;
	margin: 0 auto;
}
