a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
main {
	/* 有必要的话让整个 App 的指针都是 default */
	cursor: default;
}

.App {
	text-align: center;
	/* 响应式 */
	/* min-width: 1200px; */
	overflow-x: hidden;   
}   
