.jobs-container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 180px;
	text-align: left;
}

.job__bar {
	height: 60px;
	border-bottom: 1px solid #CFCFCF;
	cursor: pointer;
}
.job__bar > span {
	/* 为保持垂直居中而写死 */
	line-height: 60px;
}
.job__name {
	color: #333;
	font-size: 18px;
	font-family: SourceHanSansCN-Normal,PingFang SC Regular;
	/* 以上设计图 */
	margin-left: 25px;
}
.job__location {
	color: #999;
	font-size: 14px;
	font-family: SourceHanSansCN-Normal,PingFang SC Regular;
	/* 以上设计图 */
	margin-left: 35px;
}
.switch-icon {
	float: right;
	/* 为保持垂直居中而写死 */
	line-height: 60px !important;
	margin-right: 45px;
}

.job__detail {
	background-color: #f3f3f3;
	color: #333;
	padding-top: 16px;
	padding-left: 25px;
	padding-bottom: 30px;
}
.detail__bold {
	font-family:  SourceHanSansCN-Medium,PingFang SC Regular;
	font-size: 15px;
	/* 以上设计图 */
	font-weight: bold;
}
.detail__item {
	line-height: 2em;
}
.detail__application {
	background:linear-gradient(to bottom, #171717, #3E3E3E);
	color: #fff;
	display: flex;
	width: 140px;
	height: 45px;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-radius: 5px;
}

.job__bar:hover {
	background: linear-gradient(to top, #3F87FC, #23ACFD);
}
.job__bar:hover > * {
	color: #fff;
}

@media only screen and (max-width: 400px) {
	.job__name {
		margin-left: 0;
	}
	.job__location {
		margin-left: 10px;
	}
	.switch-icon {
		margin-right: 5px;
	}
}
