.container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
	padding: 0 20px;
	padding-bottom: 240px;
}

.about-big-title {
	color: #fff;
	font-size: 72px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
	padding-top: 150px;
	padding-bottom: 50px;
}
.about-small-title {
	font-size: 36px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin-left: 20px;
}

.about-paragraph {
	color: #c1baf5;
	font-size: 24px;
	font-family: SourceHanSansCN-Regular;
	/* 以上设计图 */
	margin: 0;
	margin-top: 10px;
}
