.root-container {
	max-width: 1200px;
	/* height: 600px; */
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.slider-container {
	/* 响应式 */
	/* max-width: 900px; */
	/* margin: 0 auto; */
	padding: 0 20px;
	/* float: left; */
	height: 100%;
	width: 50%;
}

.slider-title {
	color:#333333;
	font-size: 28px;
	font-family: SourceHanSansCN-Bold,PingFang SC Regular;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
	/* padding-top: 50px; */
	padding-bottom: 30px;
	text-align: left;
}

.slider-feature {
	color:#333333;
	font-size: 16px;
	font-family: SourceHanSansCN-Regular,PingFang SC Regular;
	/* 以上设计图 */
	margin: 0;
	padding-top: 10px;
	text-align: left;
}

.slider-detail {
	width: 150px;
	height: 50px;
	/* background-color: rgba(255, 198, 0, 1); */
	background:linear-gradient(0deg,rgba(62,62,62,1),rgba(23,23,23,1));
	box-shadow: 0px 4px 10px 0px rgba(45, 4, 36, 0.35);
	border-radius:2px;

	color: #fff;
	font-size: 16px;
	font-weight:400;
	font-family: SourceHanSansCN-Regular,PingFang SC Regular;
	/* 以上设计图 */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.product-img-container {
	width: 50%;
	display: flex;
}

.product-img {
	width: 380px;
	height: 380px;
	margin: 0 auto;
}

@media only screen and (max-width: 991px) {

    .root-container {
	    padding-top: 100px;
    }
	.slider-title {
		font-size: 25px;
		text-align: center;
	}
	.slider-feature {
		font-size: 15px;
		text-align: center;
	}

	.product-img-container {
		width: 60%;
	}

	.slider-container {
		width: 80%;
	}

	.product-img {
		width: 90%;
		height: 90%;
	}

	.slider-detail {
		margin: 0 auto;
		margin-top: 60px;
	}

	/* .img-container {
		flex-direction: column-reverse;
	} */
}
