
.root {
    padding: 200px 0;
}

.flex-container {
	max-width: 1200px;
	/* height: 650px; */
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.schematic-container {
	width: 35%;
	height: 100%;
	display: flex;
	align-items: center;
}

.schematic-img {
    margin: auto;
    width: 100%;
	height: auto;
}

.summary-container {
	width: 30%;
	align-items: center;
}

.summary {
	text-align: right;
	font-family: SourceHanSansCN-Regular,PingFang SC Regular;
	font-size: 14px;
	color: black;
    margin-left: 55px;
    line-height: 30px;
}


.features-item-container {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}

.title-container {
margin-top: 15px;
}

.features-icon {
    width: 55px;
    height: 55px;
    margin-left: 70px;
}

.features-slogan {
    color: #666666;
    font-size: 13px;
    font-family: SourceHanSansCN-Regular,PingFang SC Regular;
    text-align: right;
}

@media only screen and (max-width: 991px) {

	.root {
		padding: 100px 0;
	}

	.flex-container {
		flex-direction: column;
	}

	.schematic-container {
		width: 60%;
		height: auto;
	}

	.summary-container {
		width: 80%;
	}

	.summary {
		text-align: center;
		margin: 0 auto;
	}

	.features-icon {
		margin: 0 auto;
	}

	.features-slogan {
		text-align: center;
	}
}

