.flex-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px auto;
}

.schematic-container {
    width: 50%;

}

.schematic-img {
    width: 80%;
    height: auto;
}

.summary-container {
    width: 50%; 
}

.summary {
    color: black;
    font-size: 16px;
    font-family:  SourceHanSansCN-Regular,PingFang SC Regular;
    font-weight: Regular;
    line-height: 35px; 
    text-align: right; 
    padding-left: 95px;
}

.summary-img-container {
    display: flex;
    justify-content: flex-end; 
}

.competitiveness-icon {
    margin-left: 50px;
    width: 160px;
    height: auto;
}

.slogan {
    margin-top: 30px;
    color: #666666;
    font-size: 14px;
    text-align: right;
    font-family:  SourceHanSansCN-Regular,PingFang SC Regular;
    font-weight: Regular;
}

@media only screen and (max-width: 991px) {
	.flex-container {
        flex-direction: column;
        margin: 100px auto;
    } 

    .summary-container {
        margin-top: 50px;
        width: 80%;
        /* width: 70%; */
    }

    .summary {
        padding-left: 0px;
    }
    
    .summary-img-container {
        flex-direction: column;
        justify-content: center;

    }

    .competitiveness-icon { 
        margin: 0 auto;
        margin-top: 30px;
        /* margin-left: 40px; */
        width: 50%;
        height: auto;
    }

    .schematic-img {
        width: 100%;
        height: auto;
    }

    .summary {
        font-size: 15px;
    }
}