.root {
	/* height: 764px; */
	background-color: #eff1f5;
	padding-bottom: 100px;
}

.title {
	color: #fff;
	font-size: 38px;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	/* 以上设计图 */
	margin: 0;
	padding: 100px 0;
}

.flex-container {
	/* 响应式 */
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
}

@media only screen and (max-width: 991px) {
	.flex-container {
		flex-direction: column;
	}
	.img {
		width: 100%;
	}
}
